.navbar-header
  width 100%
#login-buttons
  margin 20px

.ideas
  margin auto
  width 95%
.vote
  margin 5px
  color #236EA8
  background-color #FF9227
  border solid 1px #CCC
  &:hover
    color #FFA64F
    background-color  #2C49B0

.filter
  margin-right 50px
  margin-bottom 20px
  width 100%

  
 
  